/* html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: #333;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Proxima Nova, sans-serif;
  line-height: 1.5;
  color: #333;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
} */